<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xp.hashpower.dao.AdmRoleMapper" >
  <resultMap id="BaseResultMap" type="cn.xp.hashpower.dao.AdmRoleMapper" >
    <id column="rol_no" property="rolNo" jdbcType="INTEGER" />
    <result column="rol_name" property="rolName" jdbcType="VARCHAR" />
    <result column="rol_nameen" property="rolNameen" jdbcType="VARCHAR" />
    <result column="rol_description" property="rolDescription" jdbcType="VARCHAR" />
    <result column="rol_group" property="rolGroup" jdbcType="VARCHAR" />
    <result column="rol_flag" property="rolFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    rol_no, rol_name, rol_nameen, rol_description, rol_group, rol_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from adm_role
    where rol_no = #{rolNo,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from adm_role
    where rol_no = #{rolNo,jdbcType=INTEGER}
  </delete>




</mapper>